.AC__form--animalCont>button {
    background-color: lightcoral;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.AC__form--animalCont>button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.AC__form--animalCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AC__details--animalCont>span {
    text-align: center;
}