#AdminLandPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEDEE0;
}

.AdminWelcome {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    background-color: #4267B2;
    color: white;
}

.alp__containers--positioning {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    margin: 0 auto;
}