@media (min-width: 800px) {

    #AdminLandPage {
        display: flex;
        flex-direction: column;
    }

    .Split-Admin-AppPost,
    .Split-Admin-UserOrg {
        display: flex;
        flex-direction: row;
    }

    .AdminWelcome {
        font-size: 2.4rem;
    }

}