#AdminLandPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEDEE0;
}

.AdminWelcome {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    background-color: #4267B2;
    color: white;
}

@media (min-width: 750px) {

    #AdminLandPage {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 900px) {

    .alp__containers--positioning {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}


@media (min-width: 1400px) {

    .alp__containers--positioning {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        max-width: 70%;
        margin: 0 auto;
    }

}