@media (min-width: 1250px) {

    /* Sorting positioning and Details */

    .Desktop-Logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .AAP-Header-Title-Desktop {
        display: flex;
        font-size: 2rem;
        color: #E07A5F;
        padding-left: 0.5rem;
    }

    .Expanded-Navbar-Header {
        display: flex;
    }

    .Expanded-Navbar-Header>ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Expanded-Navbar-Header>ul>li {
        padding: 0 0.5rem;
        font-size: 1.4rem;
    }

    .Account-Link {
        display: flex;
        font-size: 1.4rem;
    }

    .DropDown-Button-Header,
    .ScrollDown-Menu,
    .Menu-Button-Header,
    .AAP-Header-Title {
        display: none;
    }

    /* Flexbox Extras */

    .Desktop-Logo {
        flex: 1;
    }

    .Expanded-Navbar-Header {
        flex: 2;
    }

    .Account-Link {
        flex: 1;
    }

    .Header-Mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



}