@media (min-width: 1250px) {

    /* Sorting positioning and Details */

    .AAP-Header-Title-Desktop {
        display: flex;
        font-size: 1.4rem;
        color: #E07A5F;
        padding-left: 0.5rem;
    }

    .Expanded-Navbar-Header {
        display: flex;
    }

    .Expanded-Navbar-Header>ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Expanded-Navbar-Header>ul>li {
        padding: 0 0.5rem;
        font-size: 1.4rem;
    }

    .Account-Link {
        display: flex;
        font-size: 1.4rem;
    }

    .DropDown-Button-Header,
    .ScrollDown-Menu,
    .Menu-Button-Header,
    .AAP-Header-Title {
        display: none;
    }

    /* Flexbox Extras */

    .Desktop-Logo {
        flex: 0;
    }

    .AAP-Header-Title {
        flex: 0;
    }

    .Menu-Button-Header {
        flex: 0;
    }

    .Header-Mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .Desktop-Logo {
        align-self: start;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
    }

    .Expanded-Navbar-Header {
        flex: 2;
    }

    .Account-Link {
        flex: 1;
    }

    div>.Logo-Header {
        height: 2.5rem;
        width: 2.5rem;

        border-radius: 50%;
        background-color: #E07A5F;
        padding: 0.25rem;
        border: 2px black solid;

    }

}