@media (min-width: 1200px) {

    .Organ-Container {
        margin: 1rem 10rem;
    }

    .Organ-Text-Div>h3 {
        font-size: 2rem;
    }

    .Organ-Text-Div>p {
        font-size: 1.4rem;
    }

}