.directionsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;

    background-color: #EDEDED;
    padding: 0.75rem 2rem;
    padding-bottom: 2.1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.directionsComponent>h2 {
    font-size: 2rem;
    margin-top: -0.5rem;

}

.googleMapRoute {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.googleMapRoute>input,
.googleMapRoute>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    text-align: center;
}

.googleMapRoute>input::placeholder {
    color: #a2a2a2;
}

.googleMapRoute>button {
    flex: 2;
    max-width: 150px;
}

.googleMapRoute>button,
.clearReset>button {
    background-color: #3F1651;
    background-color: #653780;
    background-color: #9C3587;
    color: white;

    border-radius: 0.25rem;

    padding: 0.25rem 0.5rem;

    transition: 0.5s all ease-in-out 0s;
}

.googleMapRoute>input::placeholder {
    color: #a2a2a2;
    font-size: 1.1rem;
}

.routeInfo>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.clearReset>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.routeInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.googleMapRoute {
    grid-row: 1;
    grid-column: 2;
}

.clearReset,
.googleMapRoute {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.routeInfo>span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.clearReset,
.routeInfo>span,
.googleMapRoute {
    margin-top: 1rem;
}

/* UX... */

.clearReset>button,
.googleMapRoute>button {
    transition: 0.5s all ease-in-out 0;
    border: solid 3px #9C3587;
}

.clearReset>button:hover,
.googleMapRoute>button:hover {
    background-color: white;
    color: #3F1651;
    cursor: pointer;
    transform: scale(0.95);
    border: solid 3px #3F1651;
}

.routeInfo>.googleMapRoute>input,
.routeInfo>.googleMapRoute>button {
    align-items: center;
    margin: 0.25rem;
}