.directionsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;

    background-color: #EDEDED;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.directionsComponent>h2 {
    font-size: 2rem;
    margin-top: -0.5rem;

}

.googleMapRoute {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 1rem;
}

.googleMapRoute>input,
.googleMapRoute>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    flex: 1;
    max-width: 100px;
}

.googleMapRoute>button {
    flex: 2;
    max-width: 200px;
}

.googleMapRoute>button,
.clearReset>button {
    background-color: #3F1651;
    background-color: #653780;
    background-color: #9C3587;
    color: white;

    border-radius: 0.25rem;

    padding: 0.25rem 0.5rem;
}

.googleMapRoute>input::placeholder {
    color: #a2a2a2;
}

.routeInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.routeInfo>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 2rem;
}

.clearReset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.clearReset>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 2rem;
}