#Donate-Page-Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#Donate-Page-Main>img {
    padding: 1rem 1rem;
    border-radius: 1.5rem;
}

#Donate-Page-Main>h2 {
    font-size: 3rem;
    color: #4267B2;
    padding: 0;
    margin-top: -1rem;
    text-align: center;
}

#Donate-Page-Main>p {
    text-align: center;
}

.Donate-Cause {
    padding: 0 2rem;
    text-align: center;
}

.Donate-LL {
    padding: 0.5rem 0;
    color: #019b4e;
}

.Don-Cause-Tab {
    background-color: #ededed;
    margin: 1rem 2.5rem;
    padding: 0.75rem 0;

    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Don-Cause-Tab>img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.Don-Cause-Tab>span {
    background-color: #4267B2;
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    margin-top: -1.5rem;
    z-index: 1;
    width: 50px;
}

.Don-Cause-Tab>p {
    padding: 0.25rem 2rem;
}

.Donate-Form {
    border-radius: 0.5rem;
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background-color: #ededed;
    padding: 1rem 2rem;
    margin: 1rem 2.5rem;
    margin-top: 0;

    margin-right: 2rem;
}


.Donate-Form>input {
    background-color: white;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.Donate-Form>span,
.Donate-Form>button {
    align-self: center;
}

#Donate-AAP>span {
    font-size: 1.6rem;
}

#Donate-AAP>span+span {
    margin: 0;
    margin-bottom: 0.5rem;
    color: #07964e;
}

.Donate-Form>button {
    background-color: #BBDBB4;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
}

.Donate-Form>button:hover {
    background-color: #019b4e;
    color: white;
    cursor: pointer;
}

.DonForm-ImgCont>img {
    display: none;
}