/* Structuring */

.rp__header {
    background-color: #9C3587;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.rp__header>div {
    background-color: #3F1651;
    background-color: #653780;
    background-color: #3F1651;
}

.rp__header>h2 {
    padding: 1rem 0;
}

.rp__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.rp__applicationInfo,
.rp__adopteeInfo,
.rp__animalInfo,
.applicationBar,
.applicationBar>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rp__header>div,
.rp__header>div>form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Search Bar */

.rp__header>div>h3,
.rp__header>div>form>button {
    margin-right: 1rem;
    padding: 0.5rem 0;
}

.rp__header>div>form>select {
    text-align: center;
    max-width: 50px;
    margin-right: 1rem;
}

.rp__header>div>form>button {
    background-color: #9C3587;
    padding: 0 0.75rem;
    border-radius: 0.125rem;
}


/* Details */

.applicationBar>h3 {
    font-size: 1.8rem;
    text-decoration: underline;
}

.rp__applicationInfo>h3 {
    font-size: 1.8rem;
    text-decoration: underline;
}

.rp__adopteeInfo>h3,
.rp__animalInfo>h3 {
    font-size: 1.4rem;
    text-decoration: underline;
}

.rp__adopteeInfo>span,
.rp__animalInfo>span,
.applicationBar>form>select,
.applicationBar>form>button {
    font-size: 1.2rem;
}

.rp__animalImg>img {
    max-height: 200px;
}

.applicationBar {
    background-color: #EDEDED;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 1rem;
}

.rp__animalImg,
.rp__animalInfo,
.rp__adopteeInfo,
.rp__applicationInfo {
    padding: 0.5rem 1rem;
}