@media (min-width: 1200px) {

    .advice_container {
        margin: 1rem 10rem;
    }

    .advice_text_div>h3 {
        font-size: 2rem;
    }

    .advice_text_div>p {
        font-size: 1rem;
    }

}

