#Advice-Page-Main>h2 {
    font-size: 5rem;
    padding: 1rem 0;
    text-align: center;
}

#Advice-Page-Main {
    margin: auto;
    justify-content: center;
}

.advice_text_div>h3 {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    text-decoration: solid;
    color: #A3320B;
    text-align: left;
}

.advice_text_div>p {
    text-align: left;
    font-size: 1rem;
}

.advice_text_div>h2 {
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}

.advice_text_div {
    margin: 0 1rem;
}

.header {
    text-align: center;
    background-color: #003E1F;
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.advice_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: black;
    width: 70%;
    margin: auto;
}

.advice_image {

    border-radius: 0.3rem;
}

.advice_text_div>p {
    text-align: left;
    font-size: 1rem;
}

.advice_text_div>h3 {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    text-decoration: solid;
    color: #A3320B;
    text-align: left;
}

@media (min-width: 750px) {

    .advice_container {
        flex-direction: row;
        justify-content: space-around;
        align-items: left;
        align-content: left;

        padding: 1rem 1rem;
        margin: auto;
    }

    .advice_text_div {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

}

@media (min-width: 1200px) {

    .advice_container.class {
        margin: auto;
    }

    .advice_text_div>h3 {
        font-size: 2rem;
    }

    .advice_text_div>p {
        font-size: 1rem;
    }


}