/* MAJOR PAGE COMPONENTS */

.olpMain__header {
    background-color: #653780;
    text-align: center;
    color: white;

    font-size: 2rem;
    padding: 1rem;

    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;
}

.olp__background {
    background-color: #EDEDED;
}

.mainOLP__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    max-width: 75%;
    margin: 0 auto;

    flex: 3;
}

.olp__cardContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.olp__headerElementCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.olp__headerElementCont>h3,
.olp__headerElementCont>span {
    padding: 0 1rem;
    font-size: 2rem;
    color: #653780;
    transition: 0.5s all ease-in-out 0s;
}

.olp__headerElementCont>span:hover {
    color: #E53F71;
    text-decoration: underline;
}

.olp__sectionContainer {
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    margin: 1rem;
}

/* FORMS */

.olp__updateDetails--container {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 3fr 3fr 3fr;
}

.olp__form--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.olp__form--container>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.olp__updateDetails--container {
    margin: 1rem;
    position: sticky;
    top: 14rem;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.olp__updateDetails--container>h2 {
    color: #653780;
    text-decoration: underline;
}

.olp__form--container {
    margin: 0.5rem 0;
}

.olp__form--container>form>input {
    text-align: center;
    align-self: stretch;
}

.olp__form--container>form>button {
    margin-top: 0.5rem;
    background-color: #653780;
    color: white;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
}

.olp__updateDetails--container>h2 {
    font-size: 1.4rem;
}

.olp__form--container>h3 {
    font-size: 1.2rem;
}

.olp__form--container>select,
.olp__form--container>h3 {
    align-self: stretch;
    text-align: center;
}



.olp__welcomeSlogan>h1 {
    font-size: 2.4rem;
}

.olp__welcomeSlogan>span {
    font-size: 1.6rem;
}

.olp__sectionContainer {
    transition: all 1s ease-in-out 0s;
}

.olp__sectionContainer:hover {
    transform: scale(1.05);
}

.olp__headerElementCont {
    padding-bottom: 0.5rem;
}

/* BUTTONS */

.olp__form--container>form>button {
    font-size: 1rem;
    border: 3px solid #653780;
    transition: all 0.5s ease 0s;

}

.olp__form--container>form>button:hover {
    background-color: white;
    color: #653780;
    transform: scale(0.9);
    cursor: pointer;
}

/* Footer */