.animalcards_item {
    height: 300px;
    width: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
}

.animalcards_item_link {
    display: flex;
    width: 400px;
}

.cardleft {
    width: 50%;
    position: relative;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardright {
    width: 50%;
    padding: 0.5em;
}

/* .animalcards_item_pic-wrap{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
} */

.animalcards_item_img {
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: flex;
    align-self: center;
    justify-self: center;
}