.homepage-image {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
    max-height: 600px;
    margin-bottom: 30px;
}

.centred {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 7vw;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: black;
    color: transparent;
    text-shadow: 0px 4px 4px rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
}

.display_carousel {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    overflow: hidden;
    background-color: white;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}

section {
    display: block;
}

div {
    display: block;
}

.hero-shape {
    max-height: 550px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #006935;
    margin: 0;
}

.hero-video {
    position: relative;
    object-fit: fill;
    margin: 0;
    object-fit: fill;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
}

.hero__content-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 250px;
}

.hero-content {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 25px;
    background-color: #008241;
    color: #002714;
    width: 100%;
    max-width: 622px;
    border-radius: 12px;
    text-align: center;
}

.hero-title {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 3rem;
    line-height: 3.15rem;
    letter-spacing: -.02em;
    font-weight: 700;
}

.hero-subtitle {
    padding-bottom: 30px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    letter-spacing: -.01em;
    color: #002714;
    font-weight: 500;
}

.hero-adopt-button {
    background-color: #fff;
    border: 3px solid #fff;
    color: #007d00;
    transition: .4s;
    display: block;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    font-size: 1.125rem;
}

.hero-adopt-button:hover {
    background-color: #003E1F;
    color: #fff;
}

/* OUR MISSION OUR PARTNERS */

.homePage__aboutUs--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    background-color: #ededed;
    border-radius: 1rem;
}

.homePage__ourMission--container,
.homePage__ourPartners--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 2rem;
    border-radius: 1rem;
}

.homePage__ourMission--container>span,
.homePage__ourPartners--container>span {
    font-size: 3rem;
    color: #A3320B;
}

.homePage__ourMission--container>p,
.homePage__ourPartners--container>p {
    font-size: 1.8rem;
}

/* OUR PARTNERS */

.homePage__logoContainer {
    height: 200px;
    width: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.homePage__logoContainer>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    height: auto;
    width: auto;
    border: 3px solid #008241;
    object-fit: cover;
    padding-bottom: 0;
    margin-bottom: 0;
}

.homePage__logoContainer>h3{
    color: #A3320B;
}

.homePage__parentLogoCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.joining_pawPrints {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.paw2 {
    margin-top: -3rem;
}

.display_carousel {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_carousel>h3 {
    font-size: 3rem;
    color: #A3320B;
}

.display_carousel>p {
    font-size: 1.8rem;
    text-align: left;
}

.homepage>h3{
    color: #A3320B;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {

    .homePage__aboutUs--container p {
        font-size: 1.5rem;
    }

}

@media (max-width: 650px) {

    .homePage__aboutUs--container span,
    .homePage__aboutUs--container h3 {
        font-size: 2.4rem;
    }

    .homePage__logoContainer {
        height: 150px;
        width: 150px;
    }

    .homePage__aboutUs--container {
        max-width: 90%;
    }

}