.adoptTitle{
    text-align: center;
    background-color: #003E1F;
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.adoptPageContainer{
    width: 100%;
    margin: 0 auto;
}