.header{
    text-align: center;
    background-color: #003E1F;
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    width: 100%;
    position: sticky;
    top: 0px;
}

.GIMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox{
    display: flex;
    flex-flow: flex wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    transition: transform 0.2s;
    width: 70%;
    align-content: center;
    flex-direction: row;
}


.flexbox_div{
    width: 300px;
    height: 400px;
    background-color: #ededed;
    margin-bottom: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: transform 0.4s;
}

.flexbox_div:hover{
    transform: scale(1.2);
}

.get_involved_image{
    align-items: center;
    border-radius: 1rem;
}

.title {
    color: #A3320B;
    font-size: 1.4rem;
    padding-bottom: 0.125rem;
    text-align: center;
}

.paragraph {
    text-align: center;
}
