/* POSITIONING */

.aap__header {
    background-color: #4267B2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.aap__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    max-width: 60%;
    margin: 2rem auto;

}

.aap__applicationList {
    flex: 3;
    padding-right: 2rem;
}

.aap__forms {
    flex: 1;
    padding-top: 1rem;
}

.aap__applicationList,
.aap__forms {
    margin: 0 1rem;
}

.aap__applicationList>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.aap__customerInfo,
.aap__animalInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.aap__headContainer {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

/* HEADER */

.aap__header>h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

.aap__searchBar {
    background-color: #0E2A62;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.25rem 2rem;
}

.aap__searchBar>span {
    font-size: 1.4rem;
    padding-right: 1rem;
}

.aap__searchBar>input {
    font-size: 1.2rem;
    max-width: 200px;
    text-align: center;
    margin-right: 0.5rem;
}

/* APPLICATION CONTAINERS */

.aap__customerInfo>h3,
.aap__animalInfo>h3 {
    font-size: 1.8rem;
    text-decoration: underline;
    padding-bottom: 0.25rem;
}

.aap__customerInfo>span,
.aap__animalInfo>span {
    font-size: 1.4rem;
}

.aap__applicationList>.aap__appContainer {
    background-color: #EDEDED;
    color: black;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-radius: 0.25rem;
    padding: 1rem 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.aap__applicationList,
.aap__appContainer,
.aap__mainContent {
    transition: all 1s 0s;
}

.aap__mainContent>.aap__applicationList>.aap__appContainer:hover {
    cursor: pointer;
    transform: translateX(-20px);
    background-color: #4267B2;
    color: white;
}

/* FORMS */

.aap__forms {
    position: sticky;
    top: 10rem;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #EDEDED;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.aap__forms,
.aap__form,
.aap__form>form {
    margin-top: 0;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.aap__form>form>button {
    background-color: #4267B2;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    align-self: center;
    border: 3px solid #4267B2;
    transition: all 0.75s 0s;
}

.aap__form>form>button:hover {
    background-color: white;
    color: #4267B2;
    cursor: pointer;
    transform: scale(0.95);
}

.ulp__form__header {
    padding: 0.5rem;
    align-self: center;
}

.ulp__form__header>h3 {
    font-size: 1.4rem;
}

.aap__form>form {
    padding: 0 0.5rem;
}

.aap__form>form>select,
.aap__form>form>input {
    font-size: 1.4rem;
    padding: 0.25rem;
    text-align: center;
}

.aap__form {
    margin-bottom: 2rem;
}

.aap__form input::placeholder {
    color: #c5c1c1;
}

.aap__form>form>input {
    color: black;
}

.aap__noAppSearch {
    max-height: 600px;
}

.aap__applicationList>p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.aap__footer {
    height: 50px;
    background-color: #0E2A62;
}

.aap__applicationImg {
    align-self: center;
    max-width: 20%;
}

.aap__applicationImg>img {
    border-radius: 0.25rem;
}

.aap__searchBar>button {
    color: black;
    background-color: #8ECAE6;
    border: 3px solid #8ECAE6;

    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out 0s;
}

.aap__searchBar>button:hover {
    transform: scale(0.95);
    background-color: black;
    color: white;
    cursor: pointer;
}