.Organ-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E07A5F;
    padding: 1rem 2rem;
    margin: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition: all 1s ease-in 0s;
    color: #A3320B;
}

.Organ-Container:hover {
    transform: scale(1.1);
}

.Organ-Img {
    height: 150px;
    border-radius: 1rem;
}

.Organ-Text-Div>h3 {
    font-size: 1.4rem;
    text-decoration: underline;
    padding-bottom: 0.4rem;
    color: #A3320B
}

.Organ-Text-Div {
    font-size: 1.4rem;
    text-decoration: underline;
    padding-bottom: 0.4rem;
    color: #A3320B
}

.Organ-Text-Div>p {
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 750px) {

    .Organ-Container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .Organ-Text-Div {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

}

@media (min-width: 1200px) {

    .Organ-Container {
        margin: 1rem 10rem;
    }

    .Organ-Text-Div>h3 {
        font-size: 2rem;
        color: #A3320B;
    }

    .Organ-Text-Div>p {
        font-size: 1.4rem;
    }

}