.animalcards_item {
    height: 200px;
    width: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in 0s;
}

.animalcards_item:hover{
    transform: scale(1.1);
}

.animalcards_item_link {
    display: flex;
    width: 400px;
}

.cardleft {
    width: 40%;
    position: relative;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardright {
    width: 60%;
    padding: 0.5em;
}

/* .animalcards_item_pic-wrap{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
} */

.animalcards_item_img {
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 0.5rem;
}