/* POSITIONING */

.aap__header {
    background-color: #4267B2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.aap__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    max-width: 60%;
    margin: 2rem auto;

}

.aap__applicationList {
    flex: 3;
    padding-right: 2rem;
    /* border-right: 3px solid black;
    border-image: linear-gradient(90deg, #EDEDED, black, #EDEDED) 1;
    */
}

.aap__forms {
    flex: 1;
    padding-top: 1rem;
}

.aap__applicationList,
.aap__forms {
    margin: 0 1rem;
}

.aap__applicationList>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.aap__customerInfo,
.aap__animalInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.aap__headContainer {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

/* HEADER */

.aap__header>h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

.aap__searchBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.25rem 2rem;
}

.aap__searchBar>span {
    font-size: 1.4rem;
    padding-right: 1rem;
}

.aap__searchBar>input {
    font-size: 1.2rem;
    max-width: 200px;
    text-align: center;
    margin-right: 0.5rem;
}

/* APPLICATION CONTAINERS */

.aap__customerInfo>h3,
.aap__animalInfo>h3 {
    font-size: 2rem;
    text-decoration: underline;
}

.aap__customerInfo>span,
.aap__animalInfo>span {
    font-size: 1.4rem;
}

.aap__applicationList>.aap__appContainer {
    background-color: #EDEDED;
    color: black;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-radius: 0.25rem;
    padding: 1rem 0;
}

/* FORMS */

.aap__forms {
    position: sticky;
    top: 10rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.aap__forms,
.aap__form,
.aap__form>form {
    margin-top: 0;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.aap__form>form>button {
    background-color: black;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    align-self: center;
    border: 1px solid black;
    transition: all 0.75s 0s;
}

.aap__form>form>button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.ulp__form__header {
    padding: 0.5rem;
}

.ulp__form__header>h3 {
    font-size: 1.4rem;
}

.aap__form>form {
    padding: 0 0.5rem;
}

.aap__form>form>select,
.aap__form>form>input {
    font-size: 1.4rem;
    padding: 0.25rem;
    text-align: center;
}

.aap__form {
    margin-bottom: 2rem;
}