.OC__form--formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OC__form--updateName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.OC__form--updateName>button,
.OC__form--updateName>input,
.OC__form--formContainer>button {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.OC__form--updateName>button {
    background-color: #48bf53;
    transition: all 0.5s ease-in-out 0s;
}

.OC__form--updateName>button:hover {
    background-color: #11823b;
    cursor: pointer;
    color: white;
    transform: scale(0.95);
}

.OC__form--formContainer>button {
    text-align: center;
    background-color: #F1202B;
    transition: all 0.5s ease-in-out 0s;
}

.OC__form--formContainer>button:hover {
    background-color: #BD1628;
    color: white;
    cursor: pointer;
    transform: scale(0.95);
}

.Post-Admin-Cont {
    flex: 1;
}