.carousel {
  overflow: hidden;
  position: relative;
  align-items: center;
  height: 300px;
  vertical-align: middle;
  background-color: #ededed;
  border-radius: 1rem;
}

.inner {
  white-space: nowrap;
  transition: transform 2s;
  background-color: #ededed;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: white;
  height: 300px;
  vertical-align: middle;
  background-color: #ededed;
  border-radius: 1rem;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators>button {
  margin: 5px;
}

.indicators>button.active {
  background-color: darkred;
  color: white;
}

.previous {
  background-color: #E07A5F;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
}

.previous:hover{
  background-color: #24262b;
  color: white;
}

.next {
  background-color: #E07A5F;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
}

.next:hover{
  background-color: #24262b;
  color: white;
}

.round {
  border-radius: 50%;
}

.imgContainer {
  position: relative;
}

.leftButton {
  position: absolute;
  left: 10%;
  top: 50%;
}

.rightButton {
  position: absolute;
  right: 10%;
  top: 50%;
}

.center_table {
  justify-content: center;
  align-items: center;
}

.zoom_image {
  box-shadow: 0 4px 8px 0 rgba(228, 224, 224, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
  height: 200px;
  border-radius: 1rem;
}

.zoom_image:hover {
  transform: scale(1.5);
}