/* DESKTOP POSITIONING */

.backgroundPage{

    background-color: white;



}

.ulp__pageContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 1020px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.35);
    overflow-y: scroll;
    
    
}

.ulp__header{

    
    height: 220px;
    width: 1020px;
    margin-bottom: 4rem;
    background-color: #ecbb00;
    
    
    
    
}

.ulp__header__catTable{

    background-color: white;
    z-index: 1;
    height: 124px;
    width: 1020px;
    margin-top: 9.9rem;
    
}

.ulp__header__picture{
    
    
    margin-top: 5rem;
    /* position: sticky; */
    top: 10;
    left: 0;
    right: 0;
    height: 200px;
    /* background-color: blue; */
    z-index: 100;
    background-image: url("../paws.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    overflow-y: hidden;
    
    
    
    
    
}

.ulp__header__welcome{

    
    font-size: 40px;
    margin-bottom: 150px;
    


}


.ulp__cardContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 1000px;
    gap: 50px;
    margin-bottom: 100px;
    /* border: black solid; */
    
    


}

.ulp__userAnimalsCard{

    
    flex: 50%;
    max-width: 427px;
    height: 648px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #ffd428;
    box-shadow: inset 1px 1px 5px 1px rgba(247, 255, 129, 0.35);
    background-position: bottom;
    background-size: 90%;
    
    

}

.borderLeavesTop{

    margin-top: 0px;
    



}

.grassBorderBottom{

    mix-blend-mode: multiply;

}

.ulp__adoptedAnimals_header{

    position: relative;
    left: 76px;
    top: 50px;
    font-size: 25px;
    border-bottom: solid black 2px;


}



.ulp__userApplicationsCard{

    flex: 50%;
    max-width: 427px;
    height: 648px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #ffd428;
    box-shadow: inset 1px 1px 5px 1px rgba(247, 255, 129, 0.35);




}

.ulp__userAboutCard{

    flex: 50%;
    max-width: 427px;
    height: 648px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #ffd428;
    box-shadow: inset 1px 1px 5px 1px rgba(247, 255, 129, 0.35);


}

.ulp__userAnimalsCard__rectangle{

    
    
    max-width: 410px;
    height: 560px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  
    /* background-image: linear-gradient(#38B074,#5CCF95,#38B074);
    background: -webkit-radial-gradient(50%,#5CCF95,#38B074,#38B074);
    background: radial-gradient(at 50%,#5CCF95,#38B074,#38B074); */
    top: 40px;
    background-color: white;
    position: relative;
    left: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    box-shadow:  inset 1px 1px 5px 1px rgba(0, 0, 0, 0.35);
    /* z-index: -1; */
    /* position: absolute; */
    

}

.ulp__ulpContainer2__rectangle{

    max-width: 410px;
    height: 560px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  
    /* background-image: linear-gradient(#38B074,#5CCF95,#38B074);
    background: -webkit-radial-gradient(50%,#5CCF95,#38B074,#38B074);
    background: radial-gradient(at 50%,#5CCF95,#38B074,#38B074); */
    top: 40px;
    /* background-color: blue; */
    position: relative;
    left: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    box-shadow:  inset 1px 1px 5px 1px rgba(0, 0, 0, 0.35);
    
    /* z-index: -1; */
    /* position: absolute; */



}

.ulp__container2__headerBox{

    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    
    /* box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.35); */
    


}


.ulp__container2__headerBox>h1{

    font-size: 30px;

}
.openApplicationSearchForm__button{

    position: relative;
    top: 50px;
    left: 155px;
    width: 100px;
    height: 50px;
    background-color: #ffd428;
    border-radius: 15%;
    /* border: solid black 0.5px; */
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    gap: 10px;




}

.openApplicationSearchForm__button:hover{

    box-shadow:   inset 0px 1px 8px 1px rgba(0, 0, 0, 0.35);

}

.applicationSearchForm{

    position: relative;
    top: 95px;
    left: 0px;
    /* border-bottom: solid black 2px; */
    height: 100px ;
    width: 410px;
    /* box-shadow:    0px 20px 50px 1px rgba(247, 170, 16, 0.835); */




}

.searchApplicationForm__arrowUpButton__left{

    position: relative;
    top: -20px;
    left: 35px;
    width: 30px;
    height: 30px;
    background-color: #ffd428;
    border-radius: 15%;
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;
    




}

.searchApplicationForm__arrowUpButton__right{

    position: relative;
    top: -50px;
    left: 348px;
    width: 30px;
    height: 30px;
    background-color: #ffd428;
    border-radius: 15%;
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;


}

.searchApplicationForm__arrowUpButton__left:hover{

    box-shadow:   inset 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
    




}

.searchApplicationForm__arrowUpButton__right:hover{

    box-shadow:   inset 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
    




}

.ulp__applicationStatusInput{

    position: relative;
    left:105px;
    color: gray;






}

.ulp__applicationStatusLabel{

    position: relative;
    left:100px;



}

.ulp__application_aniomalName_input{

    position: relative;
    top: 30px;
    left: -95px;
    color: gray;



}

.ulp__application_animalName_Label{

    position: relative;
    top: 31px;
    left: -105px;



}

.openAnimalSearchForm__button{

    position: relative;
    top: 50px;
    left: 155px;
    width: 100px;
    height: 50px;
    background-color: #ffd428;
    border-radius: 15%;
    /* border: solid black 0.5px; */
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    gap: 10px;



}

.openAnimalSearchForm__button:hover{

    box-shadow:   inset 0px 1px 8px 1px rgba(0, 0, 0, 0.35);
    
}




.animalSearchForm{

    position: relative;
    top: 95px;
    left: 0px;
    /* border-bottom: solid black 2px; */
    height: 100px ;
    width: 410px;
    /* box-shadow:    0px 20px 50px 1px rgba(247, 170, 16, 0.835); */


}

.searchAnimalForm__arrowUpButton__left{

    position: relative;
    top: -20px;
    left: 35px;
    width: 30px;
    height: 30px;
    background-color: #ffd428;
    border-radius: 15%;
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;
    




}

.searchAnimalForm__arrowUpButton__right{

    position: relative;
    top: -50px;
    left: 348px;
    width: 30px;
    height: 30px;
    background-color: #ffd428;
    border-radius: 15%;
    box-shadow:    0px 1px 5px 1px rgba(247, 170, 16, 0.835);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;


}

.searchAnimalForm__arrowUpButton__left:hover{

    box-shadow:   inset 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
    




}

.searchAnimalForm__arrowUpButton__right:hover{

    box-shadow:   inset 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
    




}

.ulp__adoptedAnimalnameInput{

    position: relative;
    left:110px;
    color: gray;




}

.ulp__adoptedAnimalnameLabel{

    position: relative;
    left:110px;


}

.ulp__adoptedAnimalDOBInput{
     position: relative;
    top: 30px;
    left: -80px;
    color: gray;


}

.ulp__adoptedAnimalDOBLabel{

    position: relative;
    top: 31px;
    left: -90px;




}

.ulp__adoptedAnimalBreedInput{

    position: relative;
    top: 35px;
    left: 107px;
    
    color: gray;



}



.ulp__adoptedAnimalBreedLabel{

    position: relative;
    top: 36px;
    left: 109px;



}


.ulp__container2{
    
    
    
    
    flex: 50%;
    max-width: 427px;
    height: 648px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 15%;
    background-color: white;
    box-shadow:  inset 1px 1px 10px 1px rgba(247, 170, 16, 0.835);
    background-position: bottom;
    background-size: 120%;
    
    


}

.findByNameButton{

    position: relative;
    left: 20px;
    top: 1px;
    


}

.ulp__container2__left{
    
    
    
    
    flex: 50%;
    max-width: 427px;
    height: 648px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 5%;
    background-color: white;
    box-shadow:  inset 1px 1px 10px 1px rgba(247, 170, 16, 0.835);
    background-position: bottom;
    background-size: 120%;
    
    


}
@keyframes pawsLeft {

    10%   {left:20px; top:440px;}
  
  30%  {left:115px; top:280px;}
  
  50% {left:175px; top:135px;}

  70% {left:225px; top:15px;}
  
  /* 60% {left:15px; top:20px;} */
  
  90% {left: 1450px; top:90px}
  
  /* 100% {left:22500px; top:15px;} */
    
}

@keyframes pawsRight {

    
    /* 10%  { left:80px; top:480px;} */
  
    20%  {left:120px; top:410px;}
  
    40% {left:190px; top:250px;}
  
    60% {left:250px; top: 100px}
  
    80% {left:2500px; top: 100px }
    
  
    
}

.pawPrintLeft{

    width: 50px;
    position: relative;
    left: 1000px;
    top: 500px;
    transform: rotate(33deg);
    animation: pawsLeft 2s steps(1) infinite;
    /* transform-origin: 100% 50%; */
    mix-blend-mode: multiply;
    

}

.pawPrintRight{

    width: 50px;
    position: relative;
    left: 1000px;
    top: 500px;
    transform: rotate(33deg);
    animation: pawsRight 2s steps(1) infinite;
    /* transform-origin: 100% 50%; */
    mix-blend-mode: multiply;


}


@keyframes email {

    from{top: 80px;}
    to{top: 560px}
    
}

@keyframes email2 {

    from{top: 560px;}
    to{top: 80px;}
    
}

.computer{
     position: relative;
    width: 170px;
    left: 120px;
    top: 40px;


}

.RSPCA{

    position: relative;
    width: 130px;
    left: -75px;
    top: 40px;



}
.email0{

    position: relative;
    width: 50px;
    top: 80px;
    left: 30px;
    animation-name: email2;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

.email{
    position: relative;
    width: 50px;
    top: 80px;
    left: 150px;
    animation-name: email;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.email2{

    position: relative;
    width: 50px;
    top: 80px;
    left: 250px;
    animation-name: email2;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;


}

.ulp__userAnimalsCard>h1{

    position: relative;
    top: 21px;
    left: 82px;
    font-size: 25px;
    width: 270px;
    
    
    
   
    
}

.ulp__userAboutCard>h1{

    position: relative;
    top: 21px;
    left: 155px;
    font-size: 25px;
    width: 270px;
    


}

.ulp__userApplicationsCard>h1{
    position: relative;
    top: 21px;
    left: 108px;
    font-size: 25px;

}

/* .ulp__container2>h1{

    position: relative;
    top: 21px;
    left: 154px;
    font-size: 25px;

}

.ulp__container2>h2{

    position: relative;
    top: 58px;
    left: 105px;
    font-size: 20px;

} */
.ulp__container2__preferredOrganisations__header2{

    position: relative;
    top: 40px;
    left: 94px;
    font-size: 20px;


}
.ulp__container2__preferredOrganisations__header3{

    position: relative;
    top: 58px;
    left: 75px;
    font-size: 20px;
    
    


}


.ulp__userApplicationsContainer{
    /* border: black solid ; */
    position: relative;
    top: 20px;
    
}



.ulp__userApplicationsList{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    gap: 50px;






}

.ulp__preferredSpeciesList{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 10px;
    margin-top: 100px;
    



}

.ulp__adoptedAnimal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    gap: 30px;
    /* border: solid black; */
    margin-bottom: 310px;
    margin-top: 120px;
    scroll-snap-align: center;



}

.ulp__preferrredAnimals{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    /* border: solid black; */
    
    scroll-snap-align: center;



}

.ulp__applications{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    gap: 10px;
    /* border: solid black; */
    margin-bottom: 175px;
    margin-top: 120px;
    scroll-snap-align: center;


}

.ulp__applications__animalDetailsContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    gap: 30px;
    /* border: solid black; */
    margin-bottom: 175px;
    margin-top: 120px;
    



}

.ulp__animalToAdopt{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* border: double black 3px; */
    gap: 10px;
    /* border: solid black; */


}

.ulp__adoptedAnimalsList__adoptedAnimalPic{

    width: 100px;
    /* border: black solid 2px; */
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.35);




}


.ulp__adoptedapleAnimalsList__adoptedableAnimal_name{

    
}

.ulp__adoptedAnimalsList__adoptedAnimal_name{

    
    font-size: 34px;
}

.ulp__prefferedANimals__Species{

    font-size: 14px;

}

.ulp__applications__animalDetail_name{

    font-size: 14px;
}

.ulp__adoptedAnimalsList__adoptedAnimal_species_breed{

    font-size: 14px;

}

.ulp__applications__animalDetail_species_breed{

    font-size: 14px;
}

.ulp__adoptedAnimalsList__adoptedAnimal_DOB{
    font-size: 16px;

}
.ulp__applications__animalDetail_DOB{

    font-size: 14px;
}

.ulp__adoptedAnimalsList__application_status{
    font-size: 20px;
    border-bottom: solid black;
}

.ulp__adoptedAnimalsList__application_statusReturn__approved{
    font-size: 30px;
    color: green;
}

.ulp__adoptedAnimalsList__application_statusReturn__rejected{
    font-size: 30px;
    color: rgba(255, 0, 0, 0.655);
}

.ulp__adoptedAnimalsList__application_statusReturn__pending{
    font-size: 30px;
    color: rgba(0, 0, 255, 0.736);
}



.ulp__header>h2 {
    font-size: 3rem;
    padding: 2rem 0;
}

.ulp__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ulp__leftSideBar,
.ulp__center,
.ulp__rightSideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.ulp__leftSideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 10rem;
    left: 0;
    right: 0;
    flex: 1;
    overflow-y: hidden;
}

.ulp__center {
    flex: 3;
    margin: 0 2rem;
}

.ulp__rightSideBar {
    position: sticky;
    top: 10rem;
    left: 0;
    right: 0;
    flex: 1;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

/* ANIMAL LIST */

.ulp__center>h2 {
    font-size: 2rem;
    text-align: center;
    align-self: center;
}

.ulp__center>ul>li {
    background-color: #EDEDED;
    background-color: #003E1F;
    color: white;
    margin: 1rem 0;
    border-radius: 0.25rem;
}

/* ANIMAL CONTAINERS */

.ulp__animalCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ulp__animalCont__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 50%;
}

.ulp__animalCont__text>h3 {
    font-size: 2.6rem;
}

.ulp__animalCont__text>h3>span {
    color: #EDEDED;
}

.ulp__animalCont__text>span {
    font-size: 1.6rem;
}

.ulp__animalCont__img>img {
    border-radius: 0.25rem;
}

/* ULP FORMS */

.ulp__form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ulp__form,
.ulp__form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.ulp__form>form>button {
    align-self: center;
}