.news_title {
    text-align: center;
    background-color: #003E1F;
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    width: 100%;
    position: sticky;
    top: 0px;
}

.News-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: #ededed;
    padding: 1rem 2rem;
    margin: 0.5rem 2rem;
    border-radius: 0.5rem;
    color: black;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(228, 224, 224, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.News-Container:hover {
    transform: scale(1.1);
}

.News-Img {
    height: 150px;
    border-radius: 0.3rem;

}

.News-Text-Div>h3 {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    text-decoration: solid;
    color: #A3320B;
    text-align: left;
}

.News-Text-Div>p {
    text-align: left;
    font-size: 1rem;
}

#News-Page-Main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#News-Page-Main>h2 {
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}


@media (min-width: 750px) {

    .News-Container {
        flex-direction: row;
        justify-content: space-around;
        align-items: left;
        align-content: left;

        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .News-Text-Div {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

}

@media (min-width: 1200px) {

    .News-Container {
        margin: 1rem 10rem;
    }

    .News-Text-Div>h3 {
        font-size: 2rem;
    }

    .News-Text-Div>p {
        font-size: 1rem;
    }

}