@media (min-width: 1200px) {

    .News-Container {
        margin: 1rem 10rem;
    }

    .News-Text-Div>h3 {
        font-size: 2rem;
    }

    .News-Text-Div>p {
        font-size: 1rem;
    }

}

