.News-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: #BBDBB4;
    padding: 1rem 2rem;
    margin: 0.5rem 2rem;
    border-radius: 0.5rem;
    color: black;
    transition: transform .2s;
}

.News-Container:hover {
    transform: scale(1.1);
}

.News-Img {
    height: 150px;
    border-radius: 0.3rem;

}

.News-Text-Div>h3 {
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
    text-decoration: solid;
    color: #E07A5F;
    text-align: left;
}

.News-Text-Div>p {
    text-align: left;
    font-size: 1rem;
}

#News-Page-Main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#News-Page-Main>h2 {
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
}


@media (min-width: 750px) {

    .News-Container {
        flex-direction: row;
        justify-content: space-around;
        align-items: left;
        align-content: left;

        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .News-Text-Div {
        display: flex;
        flex-direction: column;
        max-width: 60%;
    }

}

@media (min-width: 1200px) {

    .News-Container {
        margin: 1rem 10rem;
    }

    .News-Text-Div>h3 {
        font-size: 2rem;
    }

    .News-Text-Div>p {
        font-size: 1rem;
    }

}