#Organisation-Page-Main,
.orgPage__mainHeader--pos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.orgPage__mainHeader--pos {
    background-color: #BBDBB4;
    /* color: white; */
    font-size: 3rem;
}

.orgPage__logoBar--pos>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orgPage__orgList--pos {
    max-width: 70%;
    margin: 0 auto;
    padding: 1.5rem;
    /* background-color: #BBDBB4; */


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.orgPage__orgContV1>h2 {
    text-align: center;
    font-size: 3rem;
}

.orgPage__orgContV1>p {
    text-align: left;
    margin: 1rem 2rem;
    font-size: 1.4rem;
}

.OP__imgCont--pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* LOGO HEADER */

.orgPage__logoBar--pos>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    max-width: 80%;
    margin: 0 auto;
}

.OP__imgCont--pos>img {
    border-radius: 0.25rem;
}

.orgPage__logoBar--pos>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;

    height: 200px;
    width: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.orgPage__logoBar--pos>ul>li>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    height: auto;
    width: auto;
    border: 1px solid #008241;
    object-fit: cover;
    padding-bottom: 0;
    margin-bottom: 0;
}