#Organisation-Page-Main,
.orgPage__mainHeader--pos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.orgPage__mainHeader--pos {
    /* background-color: #8B2635; */
    background-color: #003E1F;
    /* background-color: #0E2A62; */
    color: white;
    font-size: 5rem;
    /* padding-bottom: 1rem; */
    position: sticky;
    top: 0px;
}

.orgPage__mainHeader--pos>span {
    padding: 2rem 0;
}

.orgPage__logoBar--pos>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orgPage__orgList--pos {
    max-width: 70%;
    margin: 0 auto;
    padding: 1.5rem;
    /* background-color: #BBDBB4; */


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.orgPage__orgContV1>h2 {
    text-align: center;
    font-size: 3rem;
}

.orgPage__orgContV1>p {
    text-align: left;
    margin: 1rem 2rem;
    font-size: 1.4rem;
}



.OP__imgCont--pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

/* LOGO HEADER */

.orgPage__logoBar--pos {
    /* background-color: black; */
    background-color: #EDEDED;
    padding: 1rem 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.orgPage__logoBar--pos>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    max-width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.OP__imgCont--pos>img {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(228, 224, 224, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.orgPage__logoBar--pos>ul>li {
    height: 200px;
    width: 200px;
}

.orgPage__logoBar--pos>ul>li>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    height: auto;
    width: auto;
    border: 6px solid #A3320B;
    object-fit: cover;
}

.org_header{
    color:#A3320B;
}

.OP_DT{
    border-radius: 1rem;
}