@media (min-width: 1000px) {

    .Generic-Footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .Newsletter-Footer {
        max-width: 40%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Subscribe-Footer-Form>input {
        margin-left: 0;
    }

    .SocialMedia-Footer,
    .About-Us-Footer,
    .Legal-Footer {
        padding: 0 2rem;
    }

}