/* Positioning */

.Generic-Footer,
.SocialMedia-Footer,
.Newsletter-Footer,
.Legal-Footer,
.About-Us-Footer {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
}

.Subscribe-Footer-Form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

/* Colouring and final touches*/

.Generic-Footer {
    background-color: #003E1F;
    color: white;
    font-family: 'Mitr', sans-serif;
}

.Generic-Footer h3 {
    color: #A3320B;
    font-size: 1.4rem;
    padding-bottom: 0.125rem;
}

.Subscribe-Footer-Form>button {
    background-color: #A3320B;
    padding: 0.25rem;
    border-radius: 0.125rem;
}

.Subscribe-Footer-Form>button,
.Subscribe-Footer-Form>input {
    margin: 0.5rem;
}

.Subscribe-Footer-Form>button:hover {
    background-color: #A3320B;
    cursor: pointer;
}

.Subscribe-Footer-Form>input {
    border: 1px solid black;
    padding: 0.25rem;
    border-radius: 0.125rem;
    background-color: white;
    color: black;
}

.text_link {
    background-color: #003E1F;
    color: white;
    font-family: 'Mitr', sans-serif;
}

.text_link:hover {
    background-color: #003E1F;
    color: #A3320B;
    font-family: 'Mitr', sans-serif;
}


@media (min-width: 500px) {

    .Social-About-Legal-Container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .SocialMedia-Footer {
        align-content: center;
        align-items: flex-start;
    }

}

@media (min-width: 1000px) {

    .Generic-Footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .Newsletter-Footer {
        max-width: 40%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Subscribe-Footer-Form>input {
        margin-left: 0;
    }

    .SocialMedia-Footer,
    .About-Us-Footer,
    .Legal-Footer {
        padding: 0 2rem;
    }
}